.kaufman {
    display: flex;
    background-color:  #1f1f1f;
    color: white;
    gap: 80px;
    padding: 90px 0;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    z-index: -1;
}

