.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  height: fit-content;
  cursor: pointer;
}

.khan__buy-link:hover {
  opacity: .7;
  transition: ease-in-out;
}